body {
  color: #333;
}
div.post-image{
  width: 100%;
}
.card.horizontal .card-image img {
  // border-radius: 100%;
   padding: 5%;
   width: 100px;
   height: 100px;
}
img {
  // border-radius: 50%;
  // height: auto;
  // min-width: 100%
  // width: 100%;
}

a.post-title.ng-binding {
    display: block;
}
div.post-make-comment {
  display: inline;
}
