
body {
background-color: #eee;
}
nav, .nav-wrapper{
  font-family: 'Space Mono', monospace;
}
main.all-post-feed.ng-scope {
    margin-top: 50px;
}
div.post-image{
  width: 100%;
}
.card.horizontal .card-image img {
  //  border-radius: 100%;
  //  padding: 5%;
   width: 100px;
   height: 100px;
}
a.post-title.ng-binding {
    display: block;
}
div.post-make-comment {
  display: inline;
}
i.material-icons.arrow {
  margin: 0;
  padding: 0;
  font-size: 5em;
  vertical-align: middle;
  color: #666;
}
div.card-action.text-black {
   margin: 0;
   padding: 0;
}
i.material-icons.favorite {
  margin-left: 6%;
  margin: 0;
  padding: 0;
  font-size: 1.75em;
  vertical-align: middle;
  color: #ddd;
}
i.material-icons.chat {
  margin: 0;
  padding: 0;
  margin-left: 6%;
  vertical-align: middle;
  color: #ddd;
}
div.card-image {
  top: 30px;
  background-color: #eee;
  display: table;
}
div.card-image img{
  display: table-cell;
  vertical-align: middle;
}
div.card.horizontal{
  margin: 0;
  padding: 0;
}
