// $header-color: #74e3d1;
$header-color: #74e3d1;
// $nav-color:  #26bca4;
$nav-color:  #29292b;
// $background-color: #f7fdfc;
$background-color: #f4f4f4;
// $social-icon-color: #dae8e1;
$social-icon-color: #b9b5b0;

$header-font: 'Space Mono', monospace;


* {
  // box-sizing: border-box;
  &:before, &:after {
    // box-sizing: border-box;

  }
}

body {
  background-color: $background-color;
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
}

// NAV

nav, .nav-wrapper {
  font-family: 'Space Mono', monospace;
}

div.logo-above-nav {
  width: 100vw;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  background-color: $header-color;
  z-index: 9000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a.brand-logo.center {
  letter-spacing: 2.5px;
  font-size: 1.5em;
  font-family: $header-font;
}

button.button-collapse.btn.ng-isolate-scope {
  background-color: #eee;
  margin-right: 20px;
  margin-top: 3.25px;
}

i.material-icons.settings {
  color: $background-color;
  width: 85px;
}

a.modal-trigger.ng-isolate-scope {
  color: black;
}

.grey.lighten-4 {
    background-color: $nav-color !important;
}

/* SEARCH / SORT*/
div.input-field.sort.container {
  margin: 20px;
  height: 50px;
}

select.sorter.right {
  padding: 5px;
  text-align: left;
  width: 33%;
  float: right;
  display: inline-block;
}

input.search-bar.left {
  background-color: $background-color;
  text-align: right;
  width: 66%;
  float: left;
  display: inline-block;
}

label#searchbarlabel {
  left: 0;
}

// POSTS

main.all-post-feed.ng-scope {
  margin-top: 50px;
}

div.post-image {
  width: 100%;
}

.card.horizontal .card-image img {
  width: 175px;
  height: 175px;
}

a.post-title.ng-binding {
  display: block;
}

div.post-make-comment {
  display: inline;
}

i.material-icons.arrow {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 5em;
  vertical-align: middle;
  color: $nav-color !important;
  // box-shadow: -shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card, .card-action {
  position: relative;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px !important;
}

i.material-icons {
  color: #d1cecb;
  &.favorite {
    padding: 0;
    font-size: 1.75em;
    vertical-align: middle;
  }
  &.comment {
    display: inline;
    padding: 0;
    font-size: 2rem;
  }
  &.view-comment {
    margin: 0;
    padding: 0;
    width: 28px;
  }
  &.open-new {
    margin: 0;
    padding-left: 2.5px;
    color: #9e9e9e;
  }
  &.open-new.right {
    margin: 0;
    color: #d1cecb;
  }
  &.nav {
    color: $background-color;
  }
  &.nav.close {
    color: #afafaf;
    margin: 0;
  }
}

i.material-icons {
  &.comment:hover {
   color: #74e3d1;
  }
  &.view-comment:hover {
    color: #74e3d1;
  }
  &.open-new.right:hover {
    color: #74e3d1;
  }
}

a  i.material-icons {
  &.comment:visited {
   color: #26bca4;
  }
  &.view-comment:visited {
    color: #26bca4;
  }
  &.open-new.right:visited {
    color: #26bca4;
  }
}

.card.horizontal .card-stacked .card-content {
    min-height: 175px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card-content.comments {
    padding: 0;
}

div {
  &.card-image {
    top: 30px;
    background-color: #eee;
    display: table;
    img {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &.card.horizontal {
    margin: 0;
    padding: 0;
  }
  &#new-post-modal {
    overflow: hidden;
  }
  &.col.s2.m2.l1 {
    width: 50px;
    height: 200px;
    margin: 0;
    padding: 0;
  }
}

p.post-votes {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  font-size: 1.75rem;
  margin: 5px;
  padding-left: 7.75px;
}

div {
  &#post-feed.row {
    max-height: 100vh;
  }
  &.col.s10.m10.l11 {
    margin: 0;
    padding: 0;
  }
}

h6 {
  font-weight: 900;
  font-size: 1.25rem;
  font-family: $header-font;
  margin: 0.5rem 0 0.4rem 0;
  // background-color: #b4f0e6;
  background-color: #f8f0d4;
  padding: 5px 5px 10px 10px;
  letter-spacing: 2.5px;
}

.collapsible-header {
  i {
    line-height: 0.5rem !important;
  }
  height: 4rem;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  margin-top: 2.5%;
  padding: 0 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.icon-circle {
    width: 25px;
    height: 25px;
    background-color: $social-icon-color;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.85;
}

.row {
  margin: 0;
}

a.col.s1.m1.l1.black-text.comment {
  margin-top: 3%;
}

.row .col .s1 {
  padding: 0;
  -webkit-appearance: initial !important;
}

// comments

hr.comment-box-hr {
  opacity: 0.25;
  width: 75%;
}

li.comment-list-item {
  // font-style: italic;
}

// singlepost

div {
  &.card.singlepost {
    text-align: center;
  }
  &.card-image.singlepost {
    margin: auto;
  }
}

.card-content.singlepost {
  text-align: left;
}

p.card-title.singlepost {
  font-weight: 900;
  padding-top: 4%;
}

// sidebar

button.grey.btn-flat {
  margin-top: 8.5%;
  height: 42px;
  padding: 0;
  line-height: 0 !important;
  padding: 20px 20px 20px 0;
}

.searchbar-wrap {
  margin-left: 12%;
}

input#user-searchinput {
  margin-top: 8.5%;
  text-align: left;
}

a#follow-button {
  background-color: #ccc;
  margin-bottom: 20%;
  display: block;
}

select.sorter.center {
  display: block;
  word-wrap: break-word;
}

a.modal-trigger.side {
  text-align: left !important;
}

// USERDASH
div {
  &#dash-posts, #dash-comments, #dash-likes {
    min-height: 200px;
  }
}
a.btn-flat.topic {
    background-color: #cfcfcf;
    margin-bottom: 10px;
}
div#home-topics-menu {
    margin-left: 75px;
}
a.black-text.btn-flat.comment.right {
   background-color: #74e3d1 !important;
   display: inline;
   position: relative;
   z-index: 1000;
   right: 0;
   bottom: 56px;
   width: 30px;
}
a.btn-flat.right {
    margin: 0;
    padding: 0;
}
td.td-social-icon {
  color: #fff !important;
}
h6.following.card-title {
    font-size: 1.1rem;
    font-weight: 600;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 85% !important;
}
a.btn-flat.topic {
    // background-color: #d6f7f1;
    background-color: #ada8a2;
    color: #000;
    padding: 0 10px 0 10px;
    font-family: 'Space Mono', monospace;
}
span.dash-username.card-title {
    font-size: 1rem;
    padding: 0;
}
h6.topic.card-title {
    letter-spacing: .33rem;
    font-weight: 1200;
    font-size: 1rem;
    text-align: left;
    padding-right: 10px;
}
div#dash-comments, #dash-posts {
    margin: 0;
    padding: 20px;
}

h6.topic.card-title.dash {
    line-height: 30px;
    background-color: #f8f0d4;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: .20rem;
}

i.fa.fa-twitter::before, i.fa.fa-facebook::before, i.fa.fa-google-plus::before, i.fa.fa-pinterest::before{
    color: #fff;
}


// *, *:before, *:after {
//     // box-sizing: border-box;
// }
// body {
// background-color: #fff;
// }
// // NAV
// nav, .nav-wrapper{
//   font-family: 'Space Mono', monospace;
// }
// div.logo-above-nav{
//   width: 100vw;
//   height: 60px;
//   padding-top: 15px;
//   padding-bottom: 30px;
//   padding-left: 20px;
//   text-align: left;
//   background-color: #b4f0e6;
//   z-index: 9000;
//   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
// }
// a.brand-logo.center{
//   font-size: 1.5em;
//   font-family: 'Space Mono', monospace;
//   color: #fff;
// }
// button.button-collapse.btn.ng-isolate-scope {
//     background-color: #eee;
//     margin-right: 20px;
//     margin-top: 3.25px;
// }
// i.material-icons.settings {
//   color: #ccc;
//   width: 85px;
// }
// a.modal-trigger.ng-isolate-scope {
//     color: black;
// }
//
// /* SEARCH / SORT*/
// div.input-field.sort.container{
//   margin: 20px;
//   height: 50px;
// }
// select.sorter.right {
//   padding: 5px;
//   text-align: left;
//   width: 33%;
//   float: right;
//   display:inline-block;
// }
// input.search-bar.left {
//   background-color: #ecf0f2;
//   text-align: right;
//   width: 66%;
//   float: left;
//   display:inline-block;
// }
// label#searchbarlabel {
//   left: 0;
// }
// // POSTS
// main.all-post-feed.ng-scope {
//     margin-top: 50px;
// }
// div.post-image{
//   width: 100%;
// }
// .card.horizontal .card-image img {
//   //  border-radius: 100%;
//   //  padding: 5%;
//    width: 100px;
//    height: 100px;
// }
// a.post-title.ng-binding {
//     display: block;
// }
// div.post-make-comment {
//   display: inline;
// }
// i.material-icons.arrow {
//   text-align: center;
//   display: block;
//   margin: 0;
//   padding: 0;
//   font-size: 4em;
//   vertical-align: middle;
//   color: #666;
// }
// .card, .card-action {
//     position: relative;
//     border-top: 1px solid rgba(160,160,160,0.2);
//     padding: 12px !important;
// }
// i.material-icons.favorite {
//   padding: 0;
//   font-size: 1.75em;
//   vertical-align: middle;
//   color: #ddd;
// }
// i.material-icons.comment {
//   display: inline;
//   padding: 0;
//   font-size: 2rem;
//   color: #ddd;
// }
// i.material-icons.view-comment {
//     margin: 0;
//     padding: 0;
//     width: 28px;
// }
// i.material-icons.open-new.right{
//   margin: 0;
// }
// div.card-image {
//   top: 30px;
//   background-color: #eee;
//   display: table;
// }
// div.card-image img{
//   display: table-cell;
//   vertical-align: middle;
// }
// div.card.horizontal{
//   margin: 0;
//   padding: 0;
// }
// div#new-post-modal {
//   overflow: hidden;
// }
// div.col.s2.m2.l1 {
//   width: 50px;
//   height: 200px;
//   margin: 0;
//   padding: 0;
// }
// p.post-votes {
//   text-align: center;
//   font-family: 'Space Mono', monospace;
//   font-weight: 900;
//   font-size: 1.75rem;
//   margin: 0;
//   padding: 0;
// }
// div#post-feed.row {
//   max-height: 100vh;
// }
// div.col.s10.m10.l11 {
//   margin: 0;
//   padding: 0;
// }
// h6 {
//   font-weight: 900;
//   font-size: 1rem;
//   line-height: 110%;
//   margin: 0.5rem 0 0.4rem 0;
// }
// .collapsible-header i{
//   line-height: 0.5rem !important;
// }
// .collapsible-header {
//     height: 4rem;
//     cursor: pointer;
//     min-height: 3rem;
//     line-height: 3rem;
//     margin-top: 2.5%;
//     padding: 0 1rem;
//     background-color: #fff;
//     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
// }
// .row {
//   margin: 0;
// }
// a.col.s1.m1.l1.black-text.comment {
//   margin-top: 3%;
// }
// .row .col .s1{
//     padding: 0;
//     -webkit-appearance: initial !important;
// }
// // comments
// hr.comment-box-hr {
//   opacity: 0.25;
//   width: 75%;
// }
// li.comment-list-item {
//   // font-style: italic;
// }
//
// // singlepost
// div.card.singlepost{
//    text-align: center;
// }
// div.card-image.singlepost{
//     margin: auto;
// }
// .card-content.singlepost {
//     text-align: left;
// }
// p.card-title.singlepost {
//     font-weight: 900;
//     padding-top: 4%;
// }
//
// // sidebar
// button.grey.btn-flat {
//   margin-top: 8.5%;
//   height: 42px;
//   padding: 0;
//   line-height: 0 !important;
//   padding: 20px 20px 20px 0;
// }
// .searchbar-wrap {
//     margin-left: 12%;
// }
// input#user-searchinput {
//     margin-top: 8.5%;
//     text-align: left;
// }
// a#follow-button {
//   background-color: #ccc;
//   margin-bottom: 20%;
//   display: block;
// }
// select.sorter.center {
//   display: block;
//   word-wrap: break-word;
// }
// a.modal-trigger.side {
//   text-align: left !important;
// }
