<div id="login" class="log container" ng-controller="AuthCtrl as authCtrl">
    <form name="loginForm">
        <div class="row">
            <div class="input col lg4 m4 s6 right">
                <label for="email">Email</label>
                <input class="validate" type="text" name="email" id="loginemail" placeholder="Enter your email." ng-model="authCtrl.email">
                <span class="spin"></span>
            </div>
        </div>
        <div class="row">
            <div class="input col lg4 m4 s6 right">
                <label for="password">Password</label>
                <input class="validate" type="password" name="password" id="password" placeholder="Enter your password." ng-model="authCtrl.password">
                <span class="spin"></span>
            </div>
        </div>
        <div class="button login input right">
            <button type="submit" class="modal-action modal-close blue-grey lighten-2 left" ng-click="authCtrl.signIn(authCtrl.email, authCtrl.password)"><span class="regform">GO</span></button>
        </div>
    </form>
</div>
