<section class="container" ng-controller="PostCtrl as postCtrl">

    <!-- TOPICS MENU -->
    <div id="home-topics-menu">
        <div class="row">
            <div class="col s8 m10 l10 push-m1 push-l1">
                <a class="btn-flat topic" ng-click="postCtrl.topicId = undefined">All</a>
                <a class="btn-flat topic" ng-click="postCtrl.topicId = 1">Inspire</a>
                <a class="btn-flat topic" ng-click="postCtrl.topicId = 2">Show Off</a>
                <a class="btn-flat topic" ng-click="postCtrl.topicId = 3">Share</a>
            </div>
        </div>


        <div ng-model="topic0" ng-repeat="post in postCtrl.getAllPosts() | orderBy :'-votes' | filter: { topicId: postCtrl.topicId}">

            <!-- VOTES -->
            <div id="post-feed" class="row">
                <div class="col s2 m1 l1 left">
                    <!-- <ul id="votes-container"> -->
                    <a href="#"><i ng-click="postCtrl.upvotePost(post)" class="material-icons arrow right ">arrow_drop_up</i></a>

                    <p class="post-votes" ng-cloak>{{post.votes}}</p>

                    <a href="# "><i ng-click="postCtrl.downvotePost(post)" class="material-icons arrow right ">arrow_drop_down</i></a>
                    <!-- </ul> -->
                </div>
                <!-- CARD -->
                <div class="col s8 m10 l10">
                    <div class="card horizontal">
                        <div class="card-image">
                            <div class="post-image">
                                <img ng-src="{{post.postImage}}" ng-cloak>
                            </div>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>
                                    <h6 class="header" ng-cloak>{{post.postTitle}}<a ng-href="{{post.postUrl}}" target="_blank" ng-cloak><i class="material-icons open-new ">open_in_new</i></a></h6>
                                </p>
                                <p ng-cloak>{{post.postText | limitTo:255 }}</p>
                            </div>
                            <div class="card-action">
                                <div class="presentation white-text">
                                    <gs-favorite></gs-favorite>
                                    <a ngModel="color" ui-sref="singlepost" ng-click="postCtrl.loadPost(post)"><i class="material-icons open-new right">remove_red_eye</i></a></a>
                                    <a href="# "><i class="material-icons view-comment" ng-click="showComments=! showComments;">comments</i></a></a>
                                    <a href="# "><i class="material-icons comment" ng-click="makeComment=! makeComment">note_add</i></a>
                                </div>
                            </div>
                        </div>
                        <a class="btn-flat right" ng-click="postCtrl.deletePost(post.id)">x</a>
                    </div>
                </div>
                <!-- SOCIAL MEDIA ICON LINKS -->
                <div class="row">
                    <table class="col s2 m1 l1 right">
                        <tbody>
                            <tr>
                                <td class="td-social-icon">
                                    <div class="icon-circle">
                                        <a ng-href="http://www.twitter.com" class="social-link" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="false"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-social-icon">
                                    <div class="icon-circle">
                                        <a ng-href="https://plus.google.com/" class="social-link" target="_blank">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-social-icon">
                                    <div class="icon-circle">
                                        <a ng-href="https://www.facebook.com/" class="social-link" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-social-icon">
                                    <div class="icon-circle">
                                        <a ng-href="https://www.pinterest.com/" class="social-link" target="_blank">
                                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <!-- Make Comment INPUT -->
                    <div class="row show-comments col s8 m10 l10 push-s2 push-m1 push-l1">
                        <div ng-controller="CommentsCtrl as commentsCtrl">
                            <div ng-show="makeComment" class="collapsible-header">
                                <form>
                                    <input ng-model="commentsCtrl.comment" type="text" name="comment" id="comment_content" placeholder="Make a comment." novalidate>
                                    <a type="submit" class="black-text btn-flat comment right" ng-click="commentsCtrl.createComment(post.id); commentsCtrl.clearSearch()"><i class="material-icons black-text check">done</i></a>
                                </form>
                            </div>

                            <!-- Show Comments -->
                            <div ng-show="showComments">
                                <div class="card show-comments">
                                    <div class=" card-content comments">
                                        <div ng-repeat="comment in commentsCtrl.getPostComments(post.id)">
                                            <div class="comment-list-box">
                                                <table>
                                                    <tbody class="comment-list">
                                                        <tr>
                                                            <td class="comment-list-item">{{comment.commentContent}}</td>
                                                            <td><a class="btn-flat right" ng-click="commentsCtrl.deleteComment(comment.id)">x</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Make/Show Comments -->
                    </div>
                    <!-- End Post Feed -->

                </div>
                <!-- End ng-repeat votes -->
            </div>
</section>
