<div class="container">
    <div ng-repeat="post in postCtrl.getSinglePost()">
        <div class="card singlepost">
            <div class="card-image singlepost waves-effect waves-block waves-light">
                <img ng-src="{{post.postUrl}}">
            </div>
            <div class="card-title-content singlepost">
                <p class="card-title singlepost">{{post.postTitle}}</p>
                <div class="card-content singlepost">
                    <p>{{post.postText}}</p>
                    <p><a href="#">{{post.postUrl}}</a></p>
                </div>
            </div>
        </div>
    </div>
