<!-- <div class="container" ng-controller="PostCtrl as postCtrl">
    <div ng-repeat="post in postCtrl.getSinglePost()">
        <div class="allPosts">{{post.postTitle}} hgjfkjglkhljk;ljkhuythgc
        </div>
        <div class="allPosts postimage">
            <img ng-src="{{post.postUrl}}">
        </div>
        <div class="allPosts">
            {{post.postText}}
        </div>
    </div>
</div> -->
<div class="container" ng-controller="PostCtrl as postCtrl">
    <div ng-repeat="post in postCtrl.getSinglePost()">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img ng-src="{{post.postUrl}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{post.postTitle}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{post.postTitle}}<i class="material-icons right">close</i></span>
                <p>{{post.postText}}</p>
            </div>
        </div>
    </div>
</div>
